/* Explicit z-index layering for React Flow elements */
/* Edges should appear above panels but below normal nodes */
.react-flow-panels-below .react-flow__edges {
  z-index: 2 !important;
}

/* Normal nodes should be above edges */
.react-flow-panels-below .react-flow__nodes {
  z-index: 3 !important;
}

/* Panel nodes should be behind everything - target by className */
.react-flow-panels-below .react-flow__node.panel {
  z-index: 1 !important;
}

/* Also ensure panel background div doesn't interfere */
.react-flow-panels-below .react-flow__node.panel .panel-background {
  z-index: -1 !important;
}
